
h2.event {
    text-align: center;
    font-size: 2.5em;
    margin-top: 30px;
    color: #333;
  }
.events {
    padding: 50px 0;
  }
  
  .events-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .event-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 350px;
    text-align: center;
  }
  
  .event-card:hover {
    transform: translateY(-10px);
  }
  
  .event-image {
    width: 350px;
    height: 364px;
    object-fit: cover;
  }
  
  .event-info {
    padding: 20px;
  }
  
  .event-info h3 {
    color: #d9534f;
    margin-bottom: 15px;
  }
  
  .event-info p {
    color: #666;
    line-height: 1.6;
    font-size: 1em;
  }
  
  @media (max-width: 768px) {
    .events-container {
      flex-direction: column;
      align-items: center;
    }
  
    .event-card {
      /* max-width: 90%; */
    width: calc(75% - 20px) !important;
    }
  }

  .events {
    padding: 20px;
  }
  
  .events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .event-card {
    width: calc(33% - 20px); /* 3 cards in a row with some spacing */
    margin-bottom: 20px;
  }
  
  .event-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .view-more-btn {
    display: block;
    margin: 20px auto;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-more-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  