
.contact-us {
  padding: 50px 20px;
}

 

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

.construction-image img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

a {
  color: #d9534f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}