.custom-slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .slider-image:hover {
    transform: scale(1.1); 
  }
  
  .swiper-pagination-bullet {
    background-color: #000 !important;
  }

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 50%; 
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff; 
  font-size: 18px; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  transform: scale(1.1); 
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #000; 
}


.swiper-button-next {
  right: 4px; 
}

.swiper-button-prev {
  left: 4px; 
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px;
  }
}

  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    max-width: 57%;
    max-height: 84%;
    background: rgba(255, 255, 255, 0.2); 
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(198, 198, 198, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
  }
  
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  
  .modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background: rgba(255, 255, 255, 0.733); 
    box-shadow: 0 4px 12px rgba(198, 198, 198, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
  }
  